services/WSDL/Default.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/Default/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Default" targetNamespace="http://localhost/Default/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/Default/">
      <xsd:element name="action">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="msg" type="xsd:string"></xsd:element>
            <xsd:element name="data" type="xsd:string"></xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="actionRequest">
  </wsdl:message>
  <wsdl:message name="actionResponse">
    <wsdl:part element="tns:data" name="data"/>
  </wsdl:message>
  <wsdl:portType name="Default">
    <wsdl:operation name="action">
      <wsdl:input message="tns:actionRequest"/>
      <wsdl:output message="tns:actionResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultSOAP" type="tns:Default">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="action">
      <soap:operation soapAction="http://localhost/Default/action"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Default">
    <wsdl:port binding="tns:DefaultSOAP" name="Default">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
